@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo {
    @apply h-24 p-6 transition duration-300 motion-safe:animate-spin;
  }
  .card {
    @apply p-8 rounded-lg bg-white shadow-sm hover:shadow-md transition;
  }
  .read-the-docs {
    @apply text-gray-500;
  }
  .btn-social {
    @apply inline-flex items-center justify-center bg-blue-700 text-white px-4 py-2 rounded-md shadow hover:bg-blue-800 transition text-sm;
  }
}